@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-black: #000;
    --color-blue: #073fcc;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;

}
/* Inicio cabeçalho */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    
    position: fixed;
    z-index: 2;

    background: 'transparent';
}

.titulo-header {
    text-decoration: none;

}

.titulo-header h1 {
    color: var(--color-white);
    font-size: 2rem;
    transition: opacity .3s ease;

}

.titulo-header h1:hover{
    opacity: .7;
}

.navbar{
max-width: 350px;
width: 100%;

}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    border-radius: 4px;
    

}

.navbar ul li a:hover{
    transition: all .3s ease;
    cursor: pointer;
    background: var(--color-pink);
    
}
/* fim cabeçalho */

/* Inicio do Perfil */

#perfil {
    height: 100vh;
    background: var(--color-black);
    width: 100%;
    display: flex;
    align-items: center;
}

.perfil-caixa {
    height: 100%;
    width: 50%;
    background: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.perfil-caixa div h1 {
    padding: 0px 4px;
    color: transparent;
    position: relative;
    font-size: 4.5rem;
    line-height: 6rem;
    animation: texto-escrito .5s ease forwards;
    width: fit-content;
}

.perfil-caixa div h1:nth-child(1) {
    animation-delay: 1s;
}

.perfil-caixa div h1:nth-child(2) {
    animation-delay: 2s;
}

.perfil-caixa div h1:nth-child(3) {
    animation: texto-escrito-nome .5s ease forwards;
    animation-delay: 3s;
}

.perfil-caixa div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: var(--color-pink);
    animation: texto-escrito-caixa 1s ease forwards;
    animation-delay: .5s;

}

.perfil-caixa div h1:nth-child(1) span {
    animation-delay: .5s;
}

.perfil-caixa div h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.perfil-caixa div h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.perfil-nome {
    margin: 11rem;


}

.techs-geral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    padding-left: 160px;


}

.techs-geral h3 {
    color: var(--color-white);
    font-size: 1.20rem;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.techs {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.techs ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 0 10px;
    list-style: none;

}

.techs ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;

}

.techs ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.techs ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white);
}

.perfil-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    position: relative;
    background-image: url(imagens/background-e-perfil/background-perfil.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

.perfil-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
    background:
        linear-gradient(270deg, transparent 30%, var(--color-black)),
        linear-gradient(200deg, transparent 70%, var(--color-black));
    height: 100%;
    width: 100%;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;

    padding: 5px;
    margin: 20px 14px;

    background:
        radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),

        linear-gradient(to top right, #f54f0d 0%, #d12f7a 100%);
    border-radius: 50%;
}

.foto-perfil img {
    border-radius: 50%;
    width: 100%;
}

.links a img {
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;

}

.links a img:hover{
    transform: scale(1.2);
    filter: brightness(1);
    cursor: pointer;
}

/* fim do perfil */


/* inicio sobre */

#sobre {
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    color: var(--color-white);
}

.background-sobre{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-sobre{
    width: 100%;
    height: 100%;
    position: relative;
}

.img-sobre::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0.13turn, transparent 30%, var(--color-black)),
    linear-gradient(.50turn, transparent 10%, var(--color-black));

}

.img-sobre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-escrito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
}

.secao-subtitulo h2 p {
    display: inline-block;
    font-size: 3rem;

}

.secao-subtitulo h2 p:nth-child(2) span{
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--color-black);
    background: var(--color-white);
}

.sobre-escrito h3 {
    font-size: 2rem;
    margin: 2rem ;
}

.sobre-escrito h3 p {
    display: inline-block;
    background: var(--color-pink);
    padding: 2px 4px;
    border-radius: 4px;
}

.sobre-escrito h4 {
    font-size: 1.5rem;
    margin: 2rem;
}

.sobre-escrito h4 p {
    display: inline-block;
    color: var(--color-blue);
    padding: 3px;
    border-radius: 4px;
}

.button-cv {
    display: flex;
    max-width: 190px;
    margin: 4rem 2rem;
    
}

.button-cv a {
   display: inline-block;
   text-align: center;
   width: 100%;
   max-width: 172px;
   padding: 10px;
   margin-bottom: 3rem;
   border-radius: 5px;
   background: var(--color-white);
   color: black;
   letter-spacing: .15rem;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.5rem;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;

   
}

.button-cv a:hover{
    transition: all .3s ease;
    filter: brightness(.8);
    transform: scale(1.05);
}
/* fim sobre */
/* inicio projetos */

#projetos{
    height: 100%;
    width: 100%;
    background: var(--color-black);

    display: flex;
    flex-direction: column;
}

.projeto-titulo h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--color-white);
}

.projetos-box {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    height: 500px;
}

.projetos-cards{
    
    background: var(--color-white);
    width: 320px;
    height: 450px;
    margin: 0px 10px;
    padding: 30px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.projetos-cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;
    background: var(--color-blue);
    border-radius: 20px 20px 0 0;
}

.projeto-conteudo {
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.img-projeto {
    height: 240px;
    width: 250px;
    overflow: hidden;
    border-radius: 30px;
    border: solid var(--color-blue) 4px;
    margin: 0 auto;
    position: relative;
}


.img-projeto a img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;

    border: 2px solid var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}
.img-projeto img:hover{
    transform: scale(1.1);
}

.projeto-conteudo span{
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.8rem;
    margin: .75rem auto .5rem auto;
}

.projeto-conteudo p {

  
    color:  #575555;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 0rem .75rem;

}

.icones-projeto {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 15px auto;
   
}

.icones-projeto a {
    text-decoration: none;
    font-size: 1.4rem;
    background: var(--color-blue);
    padding: 5px 16px;
    border-radius: 5px;
    color: var(--color-white);
    transition: opacity .3s ease;
}

.icones-projeto a:hover{
    opacity: .7;
}

/* fim projetos */

/* inicio contato */
#contato{
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    color: var(--color-white);
}

.contato-icones-conteudo h2{
    color: var(--color-white);
    font-size: 3rem;
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;
}

.contato-conteudo{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contato-icones-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;

}

.contato-icones {
    background: var(--color-white);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem ;
    border-radius: 50%;

}

.contato-icones i {
    font-size: 2rem;
    color: var(--color-blue);
}


.contato-info span{
    font-size: 1.2rem;
    font-weight: bold;
}

.contato-info p {
    margin: .25rem 0;
}

.contato-info a {
    text-decoration: none;
    display: block;
    margin: 0.25rem 0rem;
    color: var(--color-white);
}

.contato-info a:hover{
    transition: all .3s ease;
    color: var(--color-blue);
}




/* fim contato */













@keyframes texto-escrito {
    100% {
        color: var(--color-white);
    }
}

@keyframes texto-escrito-nome {
    100% {
        color: var(--color-pink);
    }
}

@keyframes texto-escrito-caixa {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}